.header .navbar-center>ul>li, .header .navbar-end ul>li {
    font-size: medium;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}
.header .navbar-center>ul>li{
    margin: 0 50px;
}